.footer
  .container 
    .row
      div(class="col col-lg-12") Lite Shop. © All rights reserved

//- Cкрипт - Навигации по сайту (левая выезжающая зеленая панель - по клику на кнопку рядом с Lite Shop)
script(src=`js/nav.js`) 
//- Cкрипт - КОРЗИНА
script(src=`js/card.js`) 


