//- Вывод Элементов Массива, в т.ч. Рисунков - см. help.pug стр.45-51

include header.pug

div(class='wrap')
  div(class='content')
    header(class='site-header')
      include site_header.pug

    div(class='container')
      //- Конструкция row->col Должна быть обвернута в обвертку с классом .container
      div(class='row')
        //- Ключ cat - содержит Значение-> МАССИВ-Объектов (app.js, стр. 665)
        //- Ключ goods - содержит Значение-> МАССИВ-Объектов (app.js, стр. 664)

        //- Метод ПЕРЕБОРА МАССИВОВ (ОБЪЕКТОВ) each в PUG - аналогично перебору Объектов learn_by_heart.html стр. 1484-1523
          for (let key in obj) {
          console.log(key); 
          };   

        //- и Методу перебора Массива arr.forEach((element, index)=>{});

        //-  elem_cat, index_cat - это переменные с которыми будем работать внутри перебора Массива(Объекта) - cat
        //-  elem, index - это переменные с которыми будем работать внутри перебора Массива(Объекта) - goods
        each elem_cat, index_cat in cat  
          div(class='col col-lg-12')

            a(
              class='footnote'

              href=`/cat?id=${elem_cat[`id`]}`
              ) #{ elem_cat[`category`] }  <!--Выводим в Цикле Названия Категорий (Ноутбуки, Телефоны)Товара из Массива-Объектов - cat -->

          each elem, index in goods

            if elem_cat[`id`] == elem[`category`]
              //- У нас 2 (вложенный оди в другой) перебора массивов - Если НЕ прописать проверку (if) - то на страницу отрендерится под НОУТБУКАМИ и ноутбуки и телефоны И под ТЕЛЕФОНАМИ и ноутбуки и телефоны !!!!

              //-  elem_cat[`id`] => может быть либо "1" либо "2" (Табл - category)

              //-  elem[`category`] => может быть либо "1" либо "2" (Табл - goods)

              //- Суть проверки => Чтобы ОНИ СОВПАДАЛИ !!! (1 == 1 - рендерим ТОЛЬКО Ноуты; 2 == 2 - рендерим ТОЛЬКО Телефоны;)

              include card.pug 
            
             
    //- Cоздаем Блок - НАВИГАЦИИ и КОРЗИНУ
    include nav.pug
    //- Создаем ФУТЕР - в котором прописан скрипт (nav.js) -> 
    //- который вернет [ { id: 1, category: 'Ноутбуки' }, { id: 2, category: 'Телефоны' } ] из Таблици category 
  include footer.pug