include header.pug

    //- Ключ myGoods - содержит Значение-Объект-goods (app.js, стр. 205)

    //- Метод ПЕРЕБОРА МАССИВОВ (ОБЪЕКТОВ) each в PUG - аналогично перебору Объектов learn_by_heart.html стр. 1484-1523
      for (let key in obj) {
       console.log(key); 
      };   

    //-  elem, index - это переменные с которыми будем работать внутри перебора Массива(Объекта)
each elem, index in myGoods  
  p #{ elem[`name`] } <!--Выводим в Цикле Названия Товара из Объекта; Обязательно Tub (пробел) - иначе ошибка: expected "indent", but got "newline" -->

      //- <!--Выводим в в Цикле РИСУНКИ Товара из Объекта 
  img(src=`images/${elem[`image`]}`
      class=`card-images`
  )

      //-  Синтаксис с конкатенацией: src=`images/`+ elem[`image`] 

      //- 1) images - это ПАПКА, где лежат картинки; 2) Названия картинок в этой папке - ТОЧНО ИДЕНТИЧНО НАЗВАНИЯМ в СТОЛБЦЕ image Таблици goods в БД lite_shop MySQL

      //- 3) class=`card-images` - добавляем class тегу <img> - см. style.css

      //- div #{elem} выдаст [object Object]
      //- ________________________________________________________________________________________________________

  //- Cоздаем Блок - НАВИГАЦИИ
  include nav.pug
  //- Создаем ФУТЕР - в котором прописан скрипт (nav.js) -> 
  //- который вернет [ { id: 1, category: 'Ноутбуки' }, { id: 2, category: 'Телефоны' } ] из Таблици category 
include footer.pug
