div(class='container full-width')
  div(class='row')
    div(class='col col-lg-1 col-md-1')
      //- Прописываем кнопку-Иконку, которая открывает окно НАВИГАЦИИ  (слева от Lite Shop)
      button(class="shov-nav")
        i(class="fas fa-bars") <!-- Предварительно прилинковав fontawesome - header.pug; стр.15 -->

    div(class='col col-lg-11 col-md-11')
      a(href='/')
        h1 Lite Shop
