* {
    font-family: sans-serif;
  }
  
  .wrap {/* Все, что на сайте - flex-Конструкция */
    background: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex; /* /*Flexbox состоит из гибкого контейнера  (flex container) и гибких элементов (flex items). 
                        Гибкие элементы могут выстраиваться в СТРОКУ или СТОЛБИК, а оставшееся
                        свободное пространство распределяется между ними различными способами.*/

    flex-direction: column; /*Элементы В СТОЛБИК ОДИН ПОД ДРУГИМ: 1-2-3*/
    min-height: 100vh;
  }
  
  .text-center {
    text-align: center;
  }
  
  .content {
    /* flex: 1;  Цифрами можно УСТАНАВЛИВАТЬ ВРУЧНУЮ ШИРИНУ ДОЧЕРНЕГО ЭЛЕМЕНТА в контейнере*/
    
    flex-grow: 1; /*Коэф-т РОСТА одного flex-эл. относительно других flex-эл.*/
    flex-shrink: 0; /*Коэф-т СЖАТИЯ одного flex-эл. относит других flex-эл.*/

                    /*Flex-элемент будет полностью «НЕГИБОК», если
                    его значения flex-grow и flex-shrink равны нулю,*/

    flex-basis: auto; /*Базовый гибкий размер flex-элемента 
                        определяется так же, как WIDTH в горизонтальных режимах записи.*/
  }

  /*  _______________ Прибиваем Footer к НИЗУ Страници _________________

  <div class="wrap">
      <div class="content"></div>
                                  .content и .footer ВНУТРИ ОБВЕРТКИ .wrap !!!! 
      <div class="footer"></div>
  </div>
  

   .wrap { - стр.5
    display: flex; 
    flex-direction: column;  - Элементы В СТОЛБИК ОДИН ПОД ДРУГИМ
    min-height: 100vh; - ВАЖНО !!!!!
  }
  
   .content { - стр. 21
    flex: 1; 

   ----- ЛИБО (ЛУЧШЕ - при изменении размеров Экрана)----  
    flex-grow: 1; 
    flex-shrink: 0; 

    flex-basis: auto; 
  }
  _______________________________________________________________________ */


   /* ----------  Header  -------*/
  .site-header {
    height: auto;
    padding: 20px 0;
  }
  
  .site-header h1 {
    display: inline-block; /* ОСНОВА - Элементы - ВЫСТРАИВАЮТСЯ В ЛИНИЮ
                               но их МОЖНО Стилизовать как БЛОЧНЫЕ */
  }
  
  .full-width {  /* Центруем - ПО ЦЕНТРУ */
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  /* ------------card ------------------- */
  
  .card {
    border: 1px solid #dedede; /* Делаем обрамление и почти-белый цвет вокруг КАРТОЧКИ-ТОВАРА */
  }
  
  .card-images { /* Сss - синтаксис для РИСУНКОВ - (рядом с которыми НЕТ БЛОКОВ ) - ИНАЧЕ БУДУТ НА ВСЮ СТРАНИЦУ - mustard.css */
    display: block;
    margin: 20px auto;
    max-width: 90%;
    min-height: 150px;
  }

 /* ---------- Навигация по сайту (Левая-Выдвигающиеся-Панель)- nav.pug -------*/

 .site-nav{/* значение absolute  -   перемещает блочный элемент ПО ОСИ Z на плоскость выше,  при этом элемент будет вести себя так, как будто там больше ничего нет,
  
  МЕСТО которое он занимал НА ПРЕЖНЕЙ ПЛОСКОСТИ - БУДЕТ СВОБОДНЫМ,  что ПОВЛИЯЕТ на размещение (СМЕЩЕНИЕ) ДРУГИХ элементов. 

  __________значение fixed - ИДЕНТИЧНО значению absolute - только элемент закрепляется на странице
ФИКСИРОВАННО - и НИКУДА НЕ СМЕЩАЕТСЯ ПРИ СКРОЛИНГЕ - т.е. Позиционируется ОТНОСИТЕЛЬНО ЭКРАНА______________ */
  position:fixed;
  z-index: 2; /* ЯВНО УКАЗЫВАЕМ ПЛОСКОСТЬ, на которую будет перемещен элемент по ОСИ Z  */

  width: 340px;
  min-height: 100vh;/* на весь экран  */

  /* т.к. было задано   position:fixed - блок сместился на ОСЬ Z - и будет смещаться  ОТНОСИТЕЛЬНО ЭКРАНА - относительно ВЕРХНЕГО ЛЕВОГО УГЛА*/
  top: 0px;

  left: -340px; /* Смещаем блок СЛЕВА ЗА ПРЕДЕЛЫ ЭКРАНА(НЕВИДИМ)  - width: -300px; */

  padding: 10px; /* Внутр. отступ */

  transition: all ease 1s; /* СВ-ВА  transition - Устанавливает ЭФФЕКТ ПЕРЕХОДА МЕЖДУ ДВУМЯ СОСТОЯНИЯМИ ЭЛЕМЕНТА - 
                              они могут быть определены с помощью псевдоэлемента
                              :hover или :active, а также динамически через JavaScript */

  color: #fff;
}


ul.category-list{list-style-type: disc; } /* Кружочки нумерации */

ul.category-list a{color: #424242;} /* 1)  обращаемся к <a>, ТОЛЬКО если он находится ВНУТРИ тега с 
                                             классом class="category-list"
                                          2)  Цвет сносок (Главная страница, Ноктбуки, Телефоны) - СЕРЫЙ */

/*______________________________________________________________________  */

.close-button-div{text-align: right;}  /* Кнопку -"Х" сдвигаем ВПРАВО*/


/* Такого БЛОКА class="show-nav" внутри nav.pug НЕТ - СОЗДАЕМ */
.show-nav{
  position: relative; /* Значение relative - говорит блочному элементу переместиться ПО ОСИ Z на плоскость выше,
  при этом элемент будет позиционироваться относительно места, ГДЕ ДОЛЖЕН БЫЛ РАСПОЛОГАТЬСЯ, и ОСТАЛЬНЫЕ элементы НЕ БУДУТ СМЕЩАТЬСЯ, так как место НЕ БУДЕТ СВОБОДНО. */
}

/* ---------- КОРЗИНА (на Леваой-Выдвигающиеся-Панели)- nav.pug -------*/

.site-nav a {color: #424242;}

.cart-minus:hover, .cart-plus:hover {
  cursor: pointer; /*При наведении на объект - курсор со стрелки 
  меняется на РУКУ,  -  появляющейся при наведении на ссылку*/
} 

.cart-plus {color: blue;} 
.cart-minus {color: red;} 

.cart-plus:active, .cart-minus:active { /*:active - кликнули мышью и не отпускаем или ПКМ*/
  font-size: 30px; 
} 

/* ------ Размер СНОСКИ (Ноутбуки, Телефоны ) на Главной странице - index.pug */
.footnote {font-size: 30px;}